<template>
  <v-form v-model="valid" class="user-auth-form">
    <v-text-field
      v-model="login.username"
      label="Username"
      :rules="requiredUsername"
      outlined
      dense
    ></v-text-field>
    <v-text-field
      v-model="login.password"
      label="Password"
      :type="showPassword ? 'text' : 'password'"
      :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
      @click:append="showPassword = !showPassword"
      counter
      :rules="requiredPassword"
      outlined
      dense
    ></v-text-field>
    <v-btn @click="userLogin" :disabled="!valid" class="submit-btn">Login</v-btn>
  </v-form>
</template>

<script>
export default {
  data() {
    return {
      valid: false,
      showPassword: false,
      login: {
        username: 'Bret',
        password: '1-770-736-8031 x56442'
      }
    };
  },
  computed: {
    requiredUsername() {
      return [
        v => !!this.login.username || 'Username is required'
      ];
    },
    requiredPassword() {
      return [
        v => !!this.login.password || 'Password is required'
      ];
    }
  },
  methods: {
    async userLogin() {
      try {
        const response = await this.$axios.$get('https://jsonplaceholder.typicode.com/users');
        const user = response.find(
          user => user.username === this.login.username && user.phone === this.login.password
        );

        if (user) {
          console.log('Login successful:', user);
          alert('Login successful!');
          this.$router.push('/');
        } else {
          alert('Username or password is incorrect');
        }
      } catch (error) {
        console.error('An error occurred:', error);
        alert('An error occurred while logging in');
      }
    }
    // async loginUser(loginInfo) {
   //   try {
    //    const response = await this.$auth.loginWith('local', {
     //     data: loginInfo
      //  });

       // console.log('Login successful:', response);
       // alert('Login successful');
      //  this.$router.push('/products');
     // } catch (error) {
     //   console.error('Login failed:', error);
     //   alert('Login failed');
     // }
   // }

  }
};
</script>

<style scoped>
.user-auth-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.submit-btn {
  margin-top: 20px;
}
</style>

