<template>
  <v-container>
    <user-auth-form :buttonText="'Register'" :submitForm="registerUser" :hasName="true"/>
  </v-container>
</template>

<script>
import UserAuthForm from '~/components/UserAuthForm.vue';

export default {
  components: { UserAuthForm },
  methods: {
    async registerUser(registerInfo) {
      try {

        const response = await this.$axios.post('https://jsonplaceholder.typicode.com/posts', registerInfo);
        const token = 'dummy_token';

        await this.$auth.setUserToken(token);

        const userData = { username: registerInfo.username, email: registerInfo.email };
        await this.$auth.setUser(userData);

        console.log('Registration successful:', response);
        alert('Registration successful');
        this.$router.push('/');
      } catch (error) {
        console.error('Registration failed:', error);
        alert('Registration failed');
      }
    }
  }
};
</script>

<style scoped>
/* Add any scoped styles if necessary */
</style>
