<template>
  <footer>
    <p>&copy; 2024 My Website. All rights reserved.</p>
  </footer>
</template>

<style scoped>
footer {
  background-color: #1090e0;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 12px;
}
</style>
