<template>
  <v-app-bar color="primary">
    <v-toolbar-title>Nuxt App</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn text color="white" :to="localePath('/')">Home</v-btn>
    <v-btn text color="white" :to="localePath('/products')">Products</v-btn>
    <v-btn text color="white" :to="localePath('/about')">About</v-btn>
    <v-btn text color="white" :to="localePath('/contact')">Contact</v-btn>
    <v-spacer></v-spacer>
    <v-btn @click="switchLocale('en')" color="gray" class="ma-2">English</v-btn>
    <v-btn @click="switchLocale('ar')" color="gray" class="ma-2">Arabic</v-btn>
    <v-spacer></v-spacer>
    <div v-if="isLoggedIn">
      <span>Hello, {{ userEmail }}</span>
      <v-btn text color="white" @click="logout">Logout</v-btn>
    </div>
    <div v-else>
      <v-btn text color="white" to="/login">Login</v-btn>
      <v-btn text color="white" to="/register">Register</v-btn>
    </div>
  </v-app-bar>
</template>

<script>
export default {
  computed: {
    isLoggedIn() {
      return this.$auth.loggedIn;
    },
    userEmail() {
      return this.$auth.user ? this.$auth.user.email : '';
    }
  },
  methods: {
    switchLocale(locale) {
      this.$i18n.setLocale(locale);
    },
    async logout() {
      await this.$auth.logout();
      this.$router.push('/');
    }
  }
}
</script>

<style scoped>
.v-toolbar-title {
  font-size: 1.5rem;
}
.v-btn {
  font-size: 1rem;
}
.v-app-bar {
  padding: 0 20px;
}
</style>

