<template>
  <v-container class="product-list">


    <v-divider class="my-8"></v-divider>

    <v-row>
      <v-col cols="12">
        <h1 class="text-center" variant="h2">{{ $t('productList') }}</h1>
      </v-col>
    </v-row>

    <v-row>
      <v-col v-for="(product, index) in products" :key="index" cols="12" md="6" lg="4">
        <v-card class="product-item" outlined>
          <v-card-title class="product-name">{{ product.name }}</v-card-title>
          <v-card-text class="product-description">{{ product.description }}</v-card-text>
        </v-card>
      </v-col>
    </v-row>


  </v-container>
</template>

<script>
export default {
  head() {
    return {
      title: 'Home Page - My Nuxt App',
      meta: [
        { hid: 'description', name: 'description', content: 'This is the home page of my awesome Nuxt.js application' }
      ]
    };
  },
  data() {
    return {
      products: [
        { id: 1, name: this.$t('Product 1'), description: this.$t('Description of product 1') },
        { id: 2, name: this.$t('Product 2'), description: this.$t('Description of product 2') },
        { id: 3, name: this.$t('Product 3'), description: this.$t('Description of product 3') },
        { id: 4, name: this.$t('Product 4'), description: this.$t('Description of product 4') },
        { id: 5, name: this.$t('Product 5'), description: this.$t('Description of product 5') }
      ],

    };
  },

}
</script>

<style scoped>
.product-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.product-item {
  transition: transform 0.2s;
}

.product-item:hover {
  transform: translateY(-5px);
}

.product-name {
  font-size: 1.2em;
  color: #007bff;
}

.product-description {
  color: #555;
}
</style>
