<template>
  <aside>
    <h2>Sidebar</h2>
    <nav>
      <ul>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </aside>
</template>

<style scoped>
aside {
  background-color: #f4f4f4;
  padding: 20px;
  width: 150px;
  margin-right:10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #333;
  text-decoration: none;
}
</style>
