<template>
  <v-form v-model="valid" class="user-auth-form">
    <v-text-field
      v-model="userInfo.name"
      label="Name"
      :rules="requiredName"
      v-if="hasName"
      outlined
      dense
    ></v-text-field>
    <v-text-field
      v-model="userInfo.email"
      label="Email"
      :rules="requiredEmail"
      outlined
      dense
    ></v-text-field>
    <v-text-field
      v-model="userInfo.password"
      label="Password"
      :type="showPassword ? 'text' : 'password'"
      :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
      @click:append="showPassword = !showPassword"
      counter
      :rules="requiredPassword"
      outlined
      dense
    ></v-text-field>
    <v-btn @click="handleSubmit(userInfo)" :disabled="!valid" class="submit-btn">{{ buttonText }}</v-btn>
  </v-form>
</template>

<script>
import { required, email, minLength } from 'vuelidate/lib/validators';
import { validationMixin } from 'vuelidate'

export default {
  mixins: [validationMixin],
  data() {
    return {
      valid: false,
      showPassword: false,
      userInfo: {
        name: '',
        email: '',
        password: ''
      }
    };
  },
  validations() {
    return {
      userInfo: {
        name: { required },
        email: { required, email },
        password: { required, minLength: minLength(8) }
      }
    };
  },
  computed: {
    requiredName() {
      return [
        v => !!this.$v.userInfo.name.$pending || !this.$v.userInfo.name.$invalid || 'Name is required'
      ]
    },
    requiredEmail() {
      return [
        v => !!this.$v.userInfo.email.$pending || !this.$v.userInfo.email.$invalid || 'Email is required',
        v => !!this.$v.userInfo.email.email || 'Must be a valid email'
      ]
    },
    requiredPassword() {
      return [
        v => !!this.$v.userInfo.password.$pending || !this.$v.userInfo.password.$invalid || 'Password is required',
        v => !!this.$v.userInfo.password.minLength || 'Password must be at least 8 characters'
      ]
    }
  },
  methods: {
    handleSubmit() {
      this.submitForm(this.userInfo);
    }
  },
  props: ["submitForm", "buttonText", "hasName"]
}
</script>

<style scoped>
.user-auth-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.submit-btn {
  margin-top: 20px;
}
</style>
