<template>
  <div class="container">
    <h1> Posts By using FetchData and asyncData </h1>
    <div class="posts">
      <div class="post-card" v-for="post in posts" :key="post.id">
        <div class="post-card-body">
          <h3 class="post-title">{{ post.title }}</h3>
          <p class="post-body"> {{ post.body }}</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
 data(){
  return{
    posts:[]
  }
 },
 async fetch(){
  const res= await this.$axios.$get('/posts')
  this.posts=res
 }

 //async asyncData({$axios}){
   // const res=await $axios.$get('/posts')
    //return {
     // posts:res};
 // }



}
</script>
<style scoped>
.container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.h1{
  margin-bottom: 30px;
  color: black;
}
.posts{
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
}
.post-card{
  background: white;
  border: 1px solid #ddd;
  border-radius:10px ;
  max-width: 300px;
  padding:10px ;
  transition: transform 0.3s ease;
}
.post-card:hover{
  transform: translateY(-5px);
}
.post-card-body{
  display: flex;
  flex-direction: column;

}
.post-title{
  margin: 0 0 10px;
  font-size: large;
  color: #1478e2;
}
.post-body{
  margin: 0;
  color: #555;
}
</style>
