<template>
  <div>
    <h1>Products</h1>
 <!--   <Product />-->
 <h1>LocalStorage </h1>
    <p>{{ message }}</p>
  </div>
</template>

<script>
export default {

  head() {
    return {
      title: 'Products Page - My Nuxt App',
      meta: [
        { hid: 'description', name: 'description', content: 'All Products' }
      ]
    };
  },
data(){
  return{
    message:''
  }
},
mounted(){
  if(process.client){
    localStorage.setItem('Data','Hello in LocalStorage');
    this.message=localStorage.getItem('Data')
  }
}
}
</script>

