<template>
  <v-container>
    <v-form @submit.prevent="submitForm" ref="form">
      <v-text-field
        v-model.trim="$v.name.$model"
        :error-messages="nameErrors"
        label="Name"
        required
        @input="$v.name.$touch()"
        @blur="$v.name.$touch()"
      ></v-text-field>

      <v-text-field
        v-model.trim="$v.email.$model"
        :error-messages="emailErrors"
        label="E-mail"
        required
        @input="$v.email.$touch()"
        @blur="$v.email.$touch()"
      ></v-text-field>

      <v-text-field
        v-model.trim="$v.mobile.$model"
        :error-messages="mobileErrors"
        label="Mobile Phone"
        required
        @input="$v.mobile.$touch()"
        @blur="$v.mobile.$touch()"
      ></v-text-field>

      <v-checkbox
        v-model="$v.checkbox.$model"
        :error-messages="checkboxErrors"
        label="Do You Agree Terms of Conditions"
        required
        @change="$v.checkbox.$touch()"
        @blur="$v.checkbox.$touch()"
      ></v-checkbox>

      <v-btn type="submit" color="primary" class="mr-4">
        Submit
      </v-btn>
      <v-btn type="button" @click="clearForm">
        Clear
      </v-btn>
    </v-form>
  </v-container>
</template>



<script>
import { required, email, minLength, maxLength, numeric } from 'vuelidate/lib/validators';

export default {
  data() {
    return {
      name: '',
      email: '',
      mobile: '',
      checkbox: false
    };
  },
  validations: {
    name: { required },
    email: { required, email },
    mobile: {
      required,
      minLength: minLength(10),
      maxLength: maxLength(15),
      numeric
    },
    checkbox: { required }
  },
  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$pending && !this.$v.name.required) {
        errors.push('Name is required');
      }
      return errors;
    },
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$pending) {
        if (!this.$v.email.required) {
          errors.push('E-mail is required');
        } else if (!this.$v.email.email) {
          errors.push('E-mail must be valid');
        }
      }
      return errors;
    },
    mobileErrors() {
      const errors = [];
      if (!this.$v.mobile.$pending) {
        if (!this.$v.mobile.required) {
          errors.push('Mobile phone is required');
        } else if (!this.$v.mobile.minLength) {
          errors.push('Mobile phone must be at least 10 digits');
        } else if (!this.$v.mobile.maxLength) {
          errors.push('Mobile phone must be at most 15 digits');
        } else if (!this.$v.mobile.numeric) {
          errors.push('Mobile phone must be numeric');
        }
      }
      return errors;
    },
    checkboxErrors() {
      const errors = [];
      if (!this.$v.checkbox.$pending && !this.$v.checkbox.required) {
        errors.push('You must agree');
      }
      return errors;
    }
  },
  methods: {
    submitForm() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        console.log('Form has errors');
        return;
      }
      console.log('Form submitted successfully');
    },
    clearForm() {
      this.name = '';
      this.email = '';
      this.mobile = '';
      this.checkbox = false;
      this.$v.$reset();
    }
  }
};
</script>


<style scoped>
.error-message {
  color: red;
}
</style>

