<template>
  <v-app>
  <div :dir="direction">
    <Header />
    <Nuxt />
    <Footer />
  </div>
</v-app>
</template>

<script>
export default {

  computed: {
   direction() {
      return this.$i18n.locale === 'en' ? 'ltr' : 'rtl';
    }
  },
  head(){
    return {
      htmlAttrs: {
        lang: this.$i18n.locale,
        dir: this.$i18n.locale === 'en' ? 'ltr' : 'rtl'
      }
    }
  }
}
</script>
