<template>
  <div class="container">
    <Sidebar />
    <Nuxt />
  </div>
</template>

<script>
export default {

}
</script>
<style  scoped>
.container {
  display: flex;
  margin-right: 3px;
}
</style>>

</style>
